*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cookieChart{
    width: 1000px !important;
    height: 800px !important;
    padding-top: 100px;
}

canvas{
    aspect-ratio: unset;
}

