*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cookieChart{
    width: 1000px !important;
    height: 580px !important;
    padding-top: 100px;
}

canvas{
    aspect-ratio: unset;
}

.chart-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

